* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-center-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 5%;

}

header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.hero {
    background-image: url("../assets/hero-main.jpg");
    background-size: cover;
    background-position: center;
    color: #444444;
    text-align: center;
    min-height: 50vh;
    flex-direction: column;
}

.hero .container {
    height: 100%;
    color: #444442;
    margin-bottom: 2rem;
}

.hero button {
    padding: 0.5rem 1rem;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.features .container {
    gap: 1rem;
    min-height: 40vh;
    max-width: 80%;
    margin: 0 auto;

}


.feature img {
    max-width: 5vh;
    max-height: 5vh;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    width: 100%;
    background-color: #f9fbfa;

}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #444442;
    text-align: center;
}

.container-content .text {
    flex-direction: column;
    height: 100%;
    color: #444442;
    text-align: center;
}

.container-content img {
    margin: 2rem;
    width: 30%;
}

.container-content p {
    max-width: 70%;
}

.secondary-content {
    color: #444442;
    height: 100%;
}

.container-secondary-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #444442;
    max-width: 49%;
    background-color: #fbfbfd;
    padding: 1rem;
}

.container-secondary-content img {
    max-width: 20%;
    max-height: 20%;
    margin: 2rem;
}

.cta {

    height: 60vh;
    text-align: center;
    padding: 2rem;
    min-height: 400px;
}

.container-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #444442;
    margin-bottom: 5rem;
}

.cta button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #8bebef;
    border: 3px solid #8bebef;
    border-radius: 4px;
    cursor: pointer;
    margin: 2rem;
}


.container-footer {
    flex-direction: row;
    height: 30vh;
    text-align: center;
    background-color: #f9fbfa;
}

div.linha {
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #8bebef;
    width: 25%;
    margin: 20px 0;
}

.container-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #444442;
}

.container-footer-content ul {
    list-style: none;
    margin: 2rem;
    text-align: left;
}


@media (max-width: 900px) {

    .features .container {
        flex-direction: column;
        padding: 2rem;
    }

    .container-content img {
        width: 90%;
    }

    .secondary-content {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
    }

    .container-secondary-content {
        max-width: 100%;
        width: 90%;
        margin-bottom: 2rem;
    }

    .container-footer {
        flex-direction: column;
        height: auto;

        padding-bottom: 2rem;
    }

    .cta {
        height: auto;
    }

    .container-footer-content {
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}